*.class
*.iml
*.jar
.DS_Store
.hg/
.hgignore
/.calva/output-window/
/.clj-kondo
/.cpcache
/.idea
/.lein-*
/.lsp/sqlite*.db
/.m2
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
/checkouts
/classes
/local
/target
chat-state
keg-party.db
pom.xml
