{:paths ["src" "resources" "dev"]
 :deps  {metosin/malli       {:mvn/version "0.16.1"}
         org.clojure/clojure {:mvn/version "1.10.3"}
         com.github.markbastian/keg-party-client {:mvn/version "0.0.72"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn    cognitect.test-runner.api/test}}}
